body {
    font-family: arial;
    font-size: 14px;
}
body * {
    box-sizing: border-box;
}
img {
    width: 100%;
}
.cat-container {
    padding: 10px;
    width: 50%;
    float: left;
}

#catList {
	padding: 0;
}
.cat-name {
	cursor: pointer;
	padding: 5px 10px;
	list-style: none;
	display: inline-block;
	border: solid 1px black;
	border-radius: 3px;
	margin-right: 10px;
}

.wrapper {
    width: 500px;
    margin: 0 auto;
}

.hidden {
	display: none;
}

.admin-panel {
	margin-top: 20px;
}

.input-wrapper {
	margin-bottom: 10px;
}

.input-wrapper label {
	width: 120px;
	display: inline-block;
}