body {
    font-family: arial;
    font-size: 14px;
}
body * {
    box-sizing: border-box;
}
img {
    width: 100%;
}
.cat-container {
    padding: 10px;
    width: 50%;
    float: left;
}

.wrapper {
    width: 500px;
    margin: 0 auto;
}